In this notebook we build itemsets and association rules for the kaggle instacart dataset.  ref. [this R notebook](https://www.kaggle.com/msp48731/frequent-itemsets-and-association-rules)

In [4]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

raw_orders = pd.read_csv('../Data/all/orders.csv')
raw_order_lines = pd.read_csv('../Data/all/order_products__prior.csv')
raw_prods = pd.read_csv('../Data/all/products.csv')

In [5]:
raw_order_lines.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
raw_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [7]:
raw_prods.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [8]:
raw_prods.count()

product_id       49688
product_name     49688
aisle_id         49688
department_id    49688
dtype: int64

In [9]:
#reduce the number of items being worked with.  there are too many in the full set 
#pick the first 1000 orders
orderlist = raw_orders['order_id'].tolist()
order_lines = raw_order_lines.loc[raw_order_lines['order_id'].isin(orderlist)]
order_lines['quantity'] = 1
order_lines.head()

   order_id  product_id  add_to_cart_order  reordered  quantity
0         2       33120                  1          1         1
1         2       28985                  2          1         1
2         2        9327                  3          0         1
3         2       45918                  4          1         1
4         2       30035                  5          0         1

In [ ]:
#basket = pd.concat([order_lines.drop(['product_id'], axis=1), order_lines['product_id'].apply(pd.Series)], axis=1)
basket = (order_lines
          .groupby(['order_id', 'product_id'])['quantity']
          .sum().unstack().fillna(0)
         )
basket = basket.rename(index=str, columns=dict(
    [(pid,raw_prods[raw_prods['product_id'] == pid]['product_name'].iloc[0]) for pid in basket.columns[0:]]
))

In [ ]:
basket.head()

In [87]:
#lets generate some itemsets
frequent_itemsets = apriori(basket, min_support=0.01, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0    0.013733                                       (Cantaloupe)
1    0.011236                (Vanilla Almond Breeze Almond Milk)
2    0.011236                          (Organic Broccoli Crowns)
3    0.013733                                       (Whole Milk)
4    0.019975                                    (Yellow Onions)
5    0.013733                                (Shredded Parmesan)
6    0.021223                              (Seedless Red Grapes)
7    0.018727                           (100% Whole Wheat Bread)
8    0.022472                               (Small Hass Avocado)
9    0.018727                                    (Organic Lemon)
10   0.012484                                      (Clementines)
11   0.012484  (Organic Sticks Low Moisture Part Skim Mozzare...
12   0.017478                             (Organic Navel Orange)
13   0.014981                         (Apple Honeycrisp Organic)
14   0.016230                                   (Broccoli Crown)
15   0.026217                                (Organic Red Onion)
16   0.013733                             (Natural Spring Water)
17   0.017478                                      (Blueberries)
18   0.017478                                 (Organic Broccoli)
19   0.021223                          (Organic Red Bell Pepper)
20   0.019975                              (Large Alfresco Eggs)
21   0.014981                                  (Red Raspberries)
22   0.022472                                    (Hass Avocados)
23   0.127341                           (Bag of Organic Bananas)
24   0.019975                               (Orange Bell Pepper)
25   0.018727                             (Organic Carrot Bunch)
26   0.047441                                     (Strawberries)
27   0.011236                             (Creamy Peanut Butter)
28   0.016230                                          (Carrots)
29   0.013733                  (Frozen Organic Wild Blueberries)
..        ...                                                ...
92   0.019975                                        (Asparagus)
93   0.011236   (Unsweetened Original Almond Breeze Almond Milk)
94   0.048689                             (Organic Hass Avocado)
95   0.058677                                      (Large Lemon)
96   0.058677                                  (Organic Avocado)
97   0.016230                (Organic Garnet Sweet Potato (Yam))
98   0.021223                              (Organic Half & Half)
99   0.013733                                   (Cucumber Kirby)
100  0.014981  (Bag of Organic Bananas, Organic Large Extra F...
101  0.027466     (Organic Strawberries, Bag of Organic Bananas)
102  0.017478     (Bag of Organic Bananas, Organic Baby Spinach)
103  0.012484     (Organic Yellow Onion, Bag of Organic Bananas)
104  0.014981           (Organic Garlic, Bag of Organic Bananas)
105  0.012484                    (Bag of Organic Bananas, Limes)
106  0.011236       (Bag of Organic Bananas, Organic Whole Milk)
107  0.012484      (Bag of Organic Bananas, Organic Raspberries)
108  0.011236          (Bag of Organic Bananas, Original Hummus)
109  0.011236         (Bag of Organic Bananas, Organic Cilantro)
110  0.017478     (Organic Hass Avocado, Bag of Organic Bananas)
111  0.014981                             (Strawberries, Banana)
112  0.014981                     (Organic Strawberries, Banana)
113  0.012484        (Organic Strawberries, Organic Raspberries)
114  0.013733       (Organic Hass Avocado, Organic Baby Spinach)
115  0.011236                (Large Lemon, Organic Baby Spinach)
116  0.011236            (Organic Avocado, Organic Baby Spinach)
117  0.011236               (Banana, Sparkling Water Grapefruit)
118  0.016230                              (Banana, Large Lemon)
119  0.016230                          (Banana, Organic Avocado)
120  0.013733                               (Large Lemon, Limes)
121  0.011236                           (Organic Avocado, Limes)

[122 rows x 2 columns]

In [90]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.05)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bag of Organic Bananas),(Original Hummus),0.127341,0.018727,0.011236,0.088235,4.711765,0.008851,1.076235
1,(Original Hummus),(Bag of Organic Bananas),0.018727,0.127341,0.011236,0.600000,4.711765,0.008851,2.181648
2,(Strawberries),(Banana),0.047441,0.118602,0.014981,0.315789,2.662604,0.009355,1.288197
3,(Banana),(Strawberries),0.118602,0.047441,0.014981,0.126316,2.662604,0.009355,1.090279
4,(Organic Avocado),(Limes),0.058677,0.046192,0.011236,0.191489,4.145486,0.008526,1.179710